<header class="about-us-header">
    <div class="header-content">
        <div class="header-content-inner">
            <p>Wicker Park Crossfit is a 1,300 square foot full service Crossfit gym. The space includes a 44 foot rig of racks and pull-up bars, Concept 2 rowers, barbells, bumper plates, gymnastic rings, kettle bells, plyo boxes, medicine balls, and olympic weightlifting</p>
            <hr>
            <p>WPCF is a big box mentality in a small group setting. Our coach to athlete ratio ensures each athlete receives personal attention and quality training.</p>
        </div>
    </div>
</header>
