<section id="about-us" class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About our gym</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box" style="height: 700px">
                  <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Coming soon!</h3>
                  <p class="text-muted">Stay tuned for updates and photos of the space!</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
            </div>
        </div>
    </div>
</section>
