<section id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <address>
            <strong>Wicker Park CrossFit</strong><br>
            1843 W. North Ave.<br>
            Chicago, IL 60622<br>
            <abbr title="Phone">P:</abbr> (773) 809-5237
          </address>
          <div class="social">
            <a class="social-item" href="http://instagram.com/wickerparkcf"><i class="fa fa-4x fa-instagram" aria-hidden="true"></i></a>
            <a class="social-item" href="https://www.facebook.com/wickerparkcf"><i class="fa fa-4x fa-facebook-square" aria-hidden="true"></i></a>
            <a class="social-item" href="https://journal.crossfit.com" target="_blank" title="CrossFit Journal: The Performance-Based Lifestyle Resource"><img src="https://de45qwmlmgefw.cloudfront.net/badges/white-125x63.png" height="56px" alt="CrossFit Journal: The Performance-Based Lifestyle Resource" /></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 map">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=1843+W+North+Ave,+Chicago,+IL+60622&zoom=14&size=300x150&maptype=roadmap&markers=color:red:S%7C41.9103374,-87.6764961&key=AIzaSyDKerl-OC3l-h9XpWU-ext5LHzY128hV3o"
        </div>
      </div>
    </div>
</section>
