<section class="bg-primary" id="free-class">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Sign-up for a free session</h2>
              <h4 class="section-heading">...or feel free to drop in!</h4>
              <hr class="light">
              <iframe src="https://wickerparkcf.zenplanner.com/zenplanner/portal/freeTrial.cfm?type=FreeTrial&FRAME=true " style="width:100%; height:660px;" frameborder="0" id="idZenPlannerFrame">
                <noframes>
                  <a href="https://wickerparkcf.zenplanner.com/zenplanner/portal/freeTrial.cfm">Free Class Registration</a>
                </noframes>
              </iframe>
              <script src="https://wickerparkcf.zenplanner.com/zenplanner/skin/js/resize.js"></script>
            </div>
        </div>
    </div>
</section>
