<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/wpcf_v6.2b4.png" class="img-responsive" alt="">
            <hr>
            <p>We're passionate about what we do. Our coaches love to learn, teach and motivate. We relentlessly pursue the most progressive training and nutrition methodologies to get our members the results they desire.</p>
            <a href="#free-class" class="btn btn-primary btn-xl page-scroll">Sign up for a free session</a>
        </div>
    </div>
</header>
