<header class="services">
    <div class="header-content">
        <div class="container-fluid">
            <div class="row">
                <div class="services-group col-lg-4 col-xs-12">
                  <h2 class="services-label">Group classes</h2>
                  <hr>
                  <p class="services-description u-textAlignLeft">Our training is conducted in a group class setting. Classes will usually follow the structure of a coach led warmup, skill work, strength work, and lastly a conditioning piece. Whether your goal is to get stronger, lose weight, or increase athleticism, Wicker Park Crossfit will help you reach your goals!</p>
                </div>
                <div class="services-group col-lg-4 col-xs-12">
                  <h2 class="services-label">Barbell strength classes</h2>
                  <hr>
                  <p class="services-description u-textAlignLeft">"At some point in order to get stronger you're going to have to add weight to the barbell." This class is all about increasing strength with barbell lifts, both power and olympic. If you are looking to improve your movements with a barbell, this is the perfect time to work on technique and push your abilities.</p>
                </div>
                <div class="services-group col-lg-4 col-xs-12">
                  <h2 class="services-label">Personal training</h2>
                  <hr>
                  <p class="services-description u-textAlignLeft">If group classes are not your thing or you're looking for more flexible schedule options, we offer personal training sessions to work around your needs. Please contact info@wickerparkcrossfit.com for more information</p>
                </div>
            </div>
        </div>
    </div>
</header>
